wa-place {
    display: block;
    text-align: center;
    width: 200px;
    border: 1px solid #ddd;
    margin: 0 5px;
}

wa-place img {
    width: 64px;
    height: 64px;
}

wa-place h3 {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 0;
    font-size: 16px;
    padding: 10px 0;
    text-transform: uppercase;
    background-color: whitesmoke;
}

wa-place .row {
    display: flex;
    flex-direction: row;
    background-color: whitesmoke;
}

wa-place .row .place-places-prises {
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

wa-place .row .place-places-disponibles {
    border-bottom: 1px solid #ddd;
    text-align: right;
}

wa-place .row div,
wa-place .row button {
    padding: 0 10px;
    font-size: 11px;
    flex: 1;
    color: #aaa;
}

wa-place .row button:last-of-type {
    margin-right: 0;
}

wa-place .row button {
    font-size: 14px;
    padding: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #0066af;
    border: none;
    margin-right: 5px;
}

wa-place .row button:hover {
    background-color: #005ba3
}

wa-place .row button:active {
    background-color: #008fff;
}

wa-place button[disabled], 
wa-place button[disabled]:hover, 
wa-place button[disabled]:active {
    color: #fff;
    background-color: #666;
}

wa-place .row span {
    display: block;
    font-size: 16px;
    color: #000;
}