wa-employe {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 150px;
    border: 1px solid #ddd;
    margin: 0 5px;
}

wa-employe .employe-pic {
    padding: 10px;
    box-sizing: border-box;
    width: 84px;
    height: 84px;
}

wa-employe h3 {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 0;
    font-size: 16px;
    padding: 10px 0;
    text-transform: uppercase;
    background-color: whitesmoke;
}

wa-employe .row {
    display: flex;
    flex-direction: row;
    background-color: whitesmoke;
    flex: 1;
    justify-content: center;
    align-items: center;
}

wa-employe .row .employe-prix {
    border-bottom: 1px solid #ddd;
    flex: 1;
    text-align: left;
}

wa-employe .row .employe-debauche {
    flex: 1;
    text-align: left;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 0 10px;
    font-size: 11px;
    color: #aaa;
}

wa-employe .row .employe-nombre {
    flex: 1;
    text-align: center;
    font-size: 16px;
    color: #000000;
}

wa-employe .row div {
    padding: 0 10px;
    font-size: 11px;
    color: #aaa;
}

wa-employe .row span {
    display: block;
    font-size: 16px;
    color: #000;
}

wa-employe button {
    font-size: 14px;
    padding: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #0066af;
    border: none;
    flex: 1;
}

wa-employe button:hover {
    background-color: #005ba3;
}

wa-employe button:active {
    background-color: #008fff;
}

wa-employe button[disabled],
wa-employe button[disabled]:hover,
wa-employe button[disabled]:active {
    color: #fff;
    background-color: #666;
}